*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "Be Vietnam Pro";
}

h2 {
  font-family: "Abyssinica SIL";
}

body {
  height: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 1.8rem;
}

/* ----------  linke Logo --------------*/

.logo-name {
  display: grid;
  grid-template-columns: auto 2fr;
  align-items: center;
  gap: 1rem;
}

.logo-font {
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 0.125rem;
}

/* --------- rechte Nav-Menue ----------*/

.nav-menu {
  display: flex;
  justify-content: end;
}

.nav-links {
  color: black;
  list-style: none;
}

menu > li > a {
  margin-left: 2rem;
}

menu > li {
  list-style: none;
}

/* ---------------  Main-styles ---------------  */

.main-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0;
}

.main-content img {
  width: 100%;
  height: 100%;
}

.picture-text {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 75%;
}

.picture-text h1 {
  color: white;
  font-size: 3rem;
  font-family: "Abyssinica SIL";
  position: absolute;
  width: 26rem;
  padding-bottom: 6rem;
  _background-color: gray;
}

.svg-pfeile {
  width: 2rem;
  position: absolute;
  _background-color: gray;
}

/* weisser Sessel + HyggeHaven */

.weisser-sessel {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.weisser-sessel > img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  object-position: bottom center;
}

.hyggehaven {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8rem;
  text-align: center;
}

.link-hyggehaven {
  list-style: none;
}

.link-hyggehaven > a {
  border: 1px solid black;
  background-color: black;
  color: white;
  padding: 0.5rem 1.5rem;
  text-decoration: none;
}

.link-hyggehaven > a {
  border: 1px solid black;
  background-color: black;
  color: white;
  padding: 0.5rem 1.5rem;
  text-decoration: none;
  transition-property: background-color, color;
  transition-duration: 0.7s, 0.7s;
}

.link-hyggehaven > a:hover {
  background-color: white;
  color: black;
}

.hyggehaven > p {
  margin-bottom: 2rem;
}

/* Scandicraft + Tische */

.scandicraft_tische {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.scandicraft_tische > img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  object-position: bottom center;
}

.scandicraft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8rem;
  text-align: center;
}

.link-scandicraft {
  list-style: none;
}

.link-scandicraft > a {
  border: 1px solid black;
  background-color: black;
  color: white;
  padding: 0.5rem 1.5rem;
  text-decoration: none;
  transition-property: background-color, color;
  transition-duration: 0.7s, 0.7s;
}

.link-scandicraft > a:hover {
  background-color: white;
  color: black;
}

.scandicraft > p {
  margin-bottom: 2rem;
}

/* -------------- Footer-styles -----------*/

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 2rem;
}

footer > p {
  margin: 0;
}

footer > img {
  filter: brightness(1000%);
  margin-top: 1.5rem;
}

nav > li {
  display: inline;
}

nav > li > a {
  color: white;
  text-decoration: none;
  font-size: 0.75rem;
  font-weight: 200;
  padding: 0.5rem;
}

.nav-footer {
  margin-top: 2rem;
}
